.container {
  max-width: 380px;
  width: 100%;
  height: 100%;
  border: 1px solid #888;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--background-color-primary);
}

.container-sm {
  max-width: 380px;
  width: 100%;
  height: 250px;
  border: 1px solid #888;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--background-color-primary);
}

.container-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 345px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 480px;
    border-radius: 12px;
  }

  .container-sm {
    max-width: 480px;
    border: 1px solid #888;
    border-radius: 12px;
  }

  .container-big {
    max-width: 735px;
    align-items: normal;
  }
}

@media (min-width: 1440px) {


  .container {
    max-width: 480px;
    border-radius: 12px;
  }

  .container-sm {
    max-width: 480px;
    border: 1px solid #888;
    border-radius: 12px;
  }

  .container-big {
    max-width: 1440px;
  }
}


