.container {
  max-width: 480px;
  width: 100%;
  height: 605px;
  border: 1px solid #888;
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--background-color-primary);
}

.container-sm {
  max-width: 480px;
  width: 100%;
  height: 250px;
  border: 1px solid #888;
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--background-color-primary);
}
