/* Modal Container */
.add-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #0004;
  z-index: 3;
  height: 100%;
}

/* Modal Content */
.modal-content {
  background-color: var(--background-color-primary);
  margin: 50px auto;
  padding: 20px;
  height: 500px;
  overflow: scroll;
}

/* The Close Button */
#add-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#add-close:hover,
#add-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-dcrs {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-primary);
}

.input-select-status {
  max-width: 100%;
  margin-top: 10px;
}

.button-add-modal {
  text-align: end;
}

.error-message {
  color: var(--text-color-red);
  color: blue;
}

@media (min-width: 768px) {
  .modal-content {
    height: 650px;
  }
}

