/* Modal Container */
.add-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #0004;
  z-index: 3;
  height: 100%;
}

/* Modal Content */
.modal-content {
  background-color: var(--background-color-primary);
  margin: 150px auto;
  padding: 20px;
  height: 550px;
}

/* The Close Button */
#add-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#add-close:hover,
#add-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.modal-dcrs {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-primary);
  margin: 0;
}

.input-select-status {
  max-width: 100%;
  margin: 0;
}

.button-add-modal {
  text-align: end;
}

.error-message {
  color: red;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .modal-content {
    height: 650px;
  }
}

