/* Modal Container */
.delete-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: 3;
 }

/* Modal Content */
.delete-modal-content {
  padding: 15px;
  width: 275px;
  background-color: var(--background-color-primary);
  margin: 200px auto;
  border-radius: 15px;
}

.delete-modal-title {
  font-size: 10px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-top: 10px;
  margin-bottom: 30px;
}

.delete-input-select-status,
.delete-input-select-types {
  max-width: 200px;
  margin-top: 10px;
}

.button-delete-modal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-title-delete {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.modal-dcrs-delete {
  font-size: 10px;
  font-weight: 400;
}

.button-delete-modal-cancel {
  background-color: var(--background-color-primary);
  padding: 10px 18px;
  width: 130px;
  height: 45px;
}

.button-delete-modal-cancel:hover {
  background-color: var(--background-collor-red);
}

.button-delete-modal-agree {
  padding: 10px 18px;
  background-color: var(--background-collor-red);
  width: 130px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-collor-white);
}

.button-delete-modal-agree:hover {
  background-color: red;
}

.modal-dcrs-delete {
  max-width: 300px;
  width: 100%;
  color: #475467;
  font-size: 14px;
  font-weight: 400;
}


@media (min-width: 768px) {

/* Modal Content */
.delete-modal-content {
  padding: 24px;
  width: 400px;
}

/* The Close Button */
#delete-close {
  font-size: 28px;
}

.delete-modal-title {
  font-size: 18px;
  font-weight: 600;
}

.delete-input-select-status,
.delete-input-select-types {
  max-width: 215px;
  margin-top: 10px;
}

.modal-title-delete {
  font-size: 18px;
  font-weight: 700;
}

.modal-dcrs-delete {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.button-delete-modal-cancel {
  background-color: var(--background-color-primary);
  padding: 10px 18px;
  width: 185px;
  height: 45px;
}

.button-delete-modal-agree {
  padding: 10px 18px;
  background-color: var(--background-collor-red);
  width: 185px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-collor-white);
}

.modal-dcrs-delete {
  max-width: 330px;
  width: 100%;
  color: #475467;
  font-size: 14px;
  font-weight: 400;
}
}
