/* Modal Container */
.edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: 3;
}

.edit-modal-content {
  background-color: var(--background-color-primary);
  margin: 150px auto;
  padding: 20px;
  height: 500px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.modal-dcrs {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-primary);
}

.button-edit-modal {
  text-align: end;
}

@media (min-width: 768px) {
  .edit-modal-content {
    height: 560px;
  }
}
