/* Modal Container */
.error-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: #0004;
  z-index: 3;
}

/* Modal Content */
.error-modal-content {
  background-color: var(--background-color-primary);
  margin: 335px auto;
  padding: 24px;
  max-width: 400px;
}

/* The Close Button */
#error-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#error-close:hover,
#error-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-dcrs {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.input-select {
  display: flex;
  justify-content: space-between;
}

.input-select-status,
.input-select-types {
  max-width: 215px;
  margin-top: 10px;
}

.button-add-modal {
  text-align: end;
}

.button-error-modal {
  padding: 10px 18px;
  background-color: var(--background-collor-red);
  color:aliceblue;
  width: 400px;
  height: 45px;
}

.button-error-modal:hover {
  background-color: red;
}
