:root {
  --text-color-primary: #0c0033;
  --text-color-second: #7fc008;
  --text-collor-red: #db303f;
  --text-collor-light-gray: #c9cfda;
  --text-collor-gray: #454d59 ;
  --text-collor-white: #ffffff;


  --background-color-primary: #ffffff;
  --background-color-second: #7fc008;
  --background-collor-red: #db303f;


  --border-color-primary: 1px solid #7fc008;
  --border-color-second: 1px solid #db303f;


  --font-size-vrsm: 12px;
  --font-size-sm: 14px;
  --font-size-large: 20px;
  --font-size-big: 24px;
  --font-size-vrbig: 36px;
}
